# Db
DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tracker
DB_HOST=db
DB_PORT=5432
PGUSER=postgres

# Redis
REDIS_PASSWORD=redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DATABASES=16

# Django
SECRET_KEY=secret_key
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,
IS_LOGGING=False
DEBUG=True

# Переменная ports для разработки
DOCKER_COMPOSER_PORT_DB=127.0.0.1:5432:5432
DOCKER_COMPOSER_PORT_REDIS=127.0.0.1:6379:6379

# Конфигурация superuser django
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.ru
DJANGO_SUPERUSER_PASSWORD=admin

# Конфигурация superuser django
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.ru
DJANGO_SUPERUSER_PASSWORD=admin

# Email send
EMAIL_HOST='smtp.yandex.ru'
EMAIL_PORT=465
EMAIL_HOST_USER='mail@yandex.ru'
EMAIL_HOST_PASSWORD=password
EMAIL_USE_SSL=True
EMAIL_USE_TLS=False


# S3 config with Minio
IS_AWS_ACTIVE=True
MINIO_ROOT_USER="<YOUR_LOGIN>"
MINIO_ROOT_PASSWORD="<YOUR_PASSWORD>"
MINIO_BUCKET_NAME="<YOUR_BUCKET_NAME>"
MINIO_ENDPOINT="<MINIO_ENDPOINT>"
MINIO_ACCESS_URL="<MINIO_ACCESS_URL>"
MINIO_STORAGE_USE_HTTPS=True
MINIO_S3_SECURE_URLS=True

AWS_S3_USE_SSL=True
AWS_S3_SECURE_URLS=True
AWS_S3_FILE_OVERWRITE=True
AWS_S3_URL_PROTOCOL="https:"
AWS_S3_SIGNATURE_VERSION="s3v4"
