button.addlink {
    color: var(--link-fg);
    border: None;
    cursor: pointer;
}

button.deletelink {
    color: var(--link-fg);
    border: None;
    cursor: pointer;
}

button.addlink:hover {
    opacity: 0.8;
}

button.deletelink:hover {
    opacity: 0.8;
}

.workout-program {
    margin-top:10px;
    border-top: 1px solid;
}
